<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<nav class="navbar navbar-expand-lg border-bottom navbar-light fixed-top shadow bg-light" style="box-shadow: 0 2px 8px rgba(0,0,0,0.15); z-index: 1030;">
    <div class="container"> <a class="navbar-brand text-dark" href="">
            <i class="fa d-inline fa-lg fa-fire"></i>
            <b><b> GeoCamping</b></b>
        </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar5">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="#">Servicios</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Galeria</a> </li>
            </ul> <a class="btn btn-outline-dark navbar-btn ml-md-2"><b>Reservar</b></a>
        </div>
    </div>
</nav>
<div style="height: 72px;"></div>
  <div class="py-5">
    <div class="container" >
      <div class="row" >
        <div class="col-md-12 ">
          <div class="card"> <img class="card-img"  style="border-radius: 30px;" src="https://azgeojsonblob.blob.core.windows.net/az-geojson-imgs/principal/banner.jpg" alt="Card image">
            <div class="card-img-overlay d-flex justify-content-center align-items-center text-center">
              <h2 class="text-white" style="	text-shadow: 5px 5px 4px black;"><b>Descubre y reserva campings únicos a lo largo de la republica.</b></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: url(https://wallpapercat.com/w/full/1/5/b/1239183-3840x2160-desktop-4k-green-forest-background-photo.jpg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8 text-center text-white ">
          <h3 class="display-4" style="text-shadow: 5px 0px 4px black;"><b>Explora por ciudad</b></h3>
          <p class="mb-4 lead" style="	text-shadow: 5px 5px 4px black;">Reserva tu zona de acampar en la ciudad que prefieras!</p>
        </div>
      </div>
      <div class="row">


        <div class="col-lg-3 col-6 p-3">   
            <a href="/zones?lat=19.419198375299345&lng=-99.1849565924832&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://azgeojsonblob.blob.core.windows.net/az-geojson-imgs/principal/cdmx.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Ciudad de Mexico</b></h5>
            </div>
          </div>
       </a> 
        </div>
          

        <div class="col-lg-3 col-6 p-3">
             <a href="/zones?lat=16.60523860421333&lng=-96.57742005683495&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://www.turium.es/wp-content/uploads/sites/4/2024/05/oaxaca-mexico-ciudad-edificios-scaled.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Oaxaca</b></h5>
            </div>
          </div>
          </a> 
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=19.589103282514976&lng=-96.3879286895841&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://cdn.prod.website-files.com/6643a82fc46ca462b5ef9921/6644d765c45a7a3d875947f7_65ea4934db4a02f8692f3537_28-mejores-zonas-para-vivir-en-Veracruz.webp" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Veracruz</b></h5>
            </div>
          </div>
          </a> 
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=21.043612538755646&lng=-89.42069421287688&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://yucatan.travel/wp-content/uploads/2020/07/Chichenitza-Yucatan-937x535-crop.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Yucatan</b></h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=19.537587368400832&lng=-101.59627381188878&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://a.travel-assets.com/findyours-php/viewfinder/images/res70/196000/196229-Michoacan.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Michoacan</b></h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=25.337104152702427&lng=-100.11522967804548&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://ocvmty.com.mx/wp-content/uploads/monterrey-nl-4.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Monterrey</b></h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=18.227922233250087&lng=-88.57981628997268&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://www.gob.mx/cms/uploads/article/main_image/85362/Tulum-aerea-web.jpg" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"> <b>Quintana Roo</b></h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-6 p-3">
            <a href="/zones?lat=20.583131626356472&lng=-103.46145413151514&zoom=17" style="color: black; text-decoration: none;">
          <div class="card"> <img class="card-img-top gallery-img zoom-on-hover" src="https://i0.wp.com/travelandleisure-es.com/wp-content/uploads/2024/01/ciudad-de-Guadalajara.jpg?fit=2560%2C1800&ssl=1" alt="Card image cap" style="height: 235px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center" ><b>Jalisco</b></h5>
            </div>
          </div>
          </a>
        </div>

      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center py-3">
          <h1><b>Disfruta de las mejores zonas de acampar con los mejores servicios.</b></h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-wifi fa-3x mb-2 text-muted"></i>
          <h4> <b>Wi-Fi</b></h4>
          <p>Zonas de Wi-Fi disponibles en cada zona.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 text-muted fa-signal"></i>
          <h4> <b>Recepcion</b></h4>
          <p>Excelente recepcion 4G y 5G en las zonas disponibles.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-fire fa-3x mb-2 text-muted"></i>
          <h4> <b>Equipamiento</b></h4>
          <p>Zonas de equipamiento disponibles en caso de no contar con equipo de Camping.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-product-hunt fa-3x mb-2 text-muted"></i>
          <h4> <b>Estacionamiento</b></h4>
          <p>Zonas de estacionamiento disponibles.</p>
        </div>
      </div>
    </div>
  </div>
<style>
    .gallery-img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
    }
</style>
<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://cdn2.acsi.eu/6/7/e/5/67e5567a7e743.jpg?impolicy=gallery-detail">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://theexpertcamper.co.uk/wp-content/uploads/2024/06/how-to-make-your-camping-trip-more-comfortable-ZF.jpeg">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://www.renox.cl/cdn/shop/articles/Los_mejores_campings_de_chile_para_invierno_bototos_botines_renox.jpg?v=1648237939">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://www.camping-gironde.fr/app/uploads/iris-images/4723/camping-airotel-cote-dargent-hourtin-1-1920x1080-f50_50.webp">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://static.nationalgeographic.es/files/styles/image_3200/public/Camping%2003.jpg?w=1900&amp;h=1266">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://res.cloudinary.com/sv-loscabos/image/upload/v1734562991/cms_resources/clients/loscabosmx/Camping_Glamping_ecdf2727-e651-419d-a3ca-6f083c1af430.jpg">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://laderasur.com/wp-content/uploads/2025/01/camping-c-joel-carvajal.jpg">
            </div>
            <div class="col-6 col-md-3 p-0">
                <img class="gallery-img zoom-on-hover" src="https://eu.baseus.com/cdn/shop/articles/Everything_you_need_to_know_about_lake_camping.png?v=1712827517">
            </div>
        </div>
    </div>
</div>

<style>
    .gallery-img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
        transition: transform 0.4s cubic-bezier(0.4,0,0.2,1);
    }
    .gallery-img.zoom-on-hover:hover {
        transform: scale(1.12);
        z-index: 2;
        position: relative;
    }
</style>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h1><b>¡Encuentra tu próximo destino hoy mismo!</b></h1>
          <p class="mb-3">Descubre miles de campings en todo el país y reserva fácilmente tu próxima aventura.</p> <a class="btn btn-success" href="#">Comenzar a explorar</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>