<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"type="text/css">
</head>
<body class="bg-light">

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-map-marker"></i> GeoCamping </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="btn btn-light" href="/reservas" ><i class="fa fa-book fa-fw"></i>&nbsp;Mis Reservas</a> </li>
        </ul>
       <a href="/zones"> <p class="d-none d-md-block lead mb-0  text-white"> <i class="fa d-inline fa-lg fa-map-marker"></i> <b> GeoCamping</b> </p></a>
        <ul class="navbar-nav ml-auto">
          <button class="btn btn-link text-white" onclick="window.location.href='/logout'">
            <i class="fa fa-sign-out fa-fw"></i> Cerrar Sesion
          </button>
        </ul>
      </div>
    </div>
  </nav>

<div class="container py-4">
    <h3 class="mb-4">Reservaciones de {{ user_name }}</h3>

    {% if reservas %}
        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
                <tr>
                    <th>ID Reserva</th>
                    <th>Zona</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Estado</th>
                    <th>Fecha Creación</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reservas %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.zone_name }}</td>
                    <td>{{ r.start_date }}</td>
                    <td>{{ r.end_date }}</td>
                    <td>{{ r.status }}</td>
                    <td>{{ r.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">No tienes reservas aún.</div>
    {% endif %}
</div>

</body>
</html>
