<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-4">La Base de Datos esta dormida.<br>Dele un minuto para que despierte.</h1>
        </div>
      </div>
    </div>
  </div>
<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center"></div>
                <img class="img-fluid d-block w-25 mx-auto" src="https://cdnb.artstation.com/p/assets/images/images/025/539/549/original/evan-todd-mccoy-sleeping-export.gif?1586122355">
            </div>
        </div>
    </div>
</div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><a class="btn w-100 btn-lg btn-dark" href="/zones"><b>Recargar Pagina</b></a></div>
      </div>
    </div>
  </div>
</body>

</html>